@font-face {
  font-family: "muli";
  font-style: bold;
  src: url("../Assets/Muli-Bold.ttf");
}

@font-face {
  font-family: "muli";
  src: url("../Assets/Muli.ttf");
}

.menu {
  width: 30vw;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  z-index: 2;
  display: none;
}
.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 83vh;
}
.menu-content div {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.menu-title {
  font-family: Muli;
  font-weight: bold;
  font-size: 36px;
}
.menu-content div a {
  padding-bottom: 1vh;
  font-family: Muli;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.homepage-all {
  width: 100%;
  height: 100vh;
}

.homepage-all-content {
  display: flex;
  background-color: #0b1036;
}

.homepage-left {
  height: 100vh;
  width: 50%;
}

.homepage-right {
  height: 100vh;
  width: 50%;
}

.homepage-menu{
  position:fixed;
}
.homepage-menu img {
  margin-left: 70px;
  margin-top: 72px;
}

.homepage-title {
  margin-left: auto;
  color: #ffffff;
  font-size: 46px;
  font-family: Muli;
  font-weight: bold;
  width: 90%;
  margin-bottom: 20px;
  padding-top: 20vh;
}

.homepage-logo {
  display: flex;
  justify-content: flex-end;
}
.homepage-logo img {
  margin-top: 60px;
  padding-right: 15%;
}

.homepage-content {
  display: flex;
  flex-direction: column;
}

.carre1 {
  width: 25vw;
  height: 30vh;
  background-color: white;
  box-shadow: 0px 50px 50px #0070c229;
  position: absolute;
  top: 25vh;
  right: 9vw;
  z-index: 2;
}

.carre2 {
  width: 25vw;
  height: 30vh;
  background-color: white;
  box-shadow: 0px 50px 50px #0070c229;
  position: absolute;
  top: 42vh;
  right: 20vw;
}

.homepage-undertitle {
  color: #ffffff;
  margin-left: auto;
  font-size: 20px;
  width: 90%;
  height: 91px;
  font-family: Muli;
  font-weight: normal;
  margin-bottom: 30px;
}

.homepage-contact {
  width: 90%;
  margin-left: auto;
}

.homepage-ensavoir {
  margin-left: auto;
  width: 90%;
  padding-top: 20vh;
}

.homepage-deux {
  height: 100vh;
}

.homepage-all-deux-content {
  display: flex;
}

.homepage-deux-left {
  height: 100vh;
  width: 50%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage-deux-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50%;
  background-color: #4fcfe0;
  flex-direction: column;
  overflow: hidden;
}

.homepage-deux-right img {
  width: 80%;
}

.homepage-deux-envoir {
  align-self: flex-end;
  padding-right: 10%;
}

.homepage-deux-title {
  font-size: 36px;
  font-family: multi;
  font-weight: bold;
  width: 50%;
  padding-left: 25%;
}

.homepage-deux-undertitle {
  padding-top: 20px;
  width: 50%;
  padding-left: 25%;
  font-family: Muli;
  font-weight: normal;
  color: #0b1036;
  font-size: 18px;
}

.homepage-trois {
  height: 100vh;
}

.homepage-all-trois-content {
  display: flex;
}

.homepage-trois-left {
  height: 100vh;
  width: 50%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage-trois-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50%;
  background-color: #e0e0e0;
  flex-direction: column;
}

.homepage-trois-right img {
  width: 80%;
}

.homepage-trois-envoir {
  align-self: flex-end;
  padding-right: 10%;
}

.homepage-trois-title {
  font-size: 36px;
  font-family: muli;
  font-weight: bold;
  width: 50%;
  padding-left: 25%;
}

.homepage-trois-undertitle {
  padding-top: 20px;
  width: 50%;
  padding-left: 25%;
  font-family: Muli;
  font-weight: normal;
  color: #0b1036;
  font-size: 18px;
}

.homepage-quatre {
  height: 100vh;
}

.homepage-all-quatre-content {
  display: flex;
}

.homepage-quatre-left {
  height: 100vh;
  width: 50%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage-quatre-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50%;
  background-color: #f1a34f;
  flex-direction: column;
}

.homepage-quatre-right img {
  width: 80%;
}

.homepage-quatre-envoir {
  align-self: flex-end;
  padding-right: 10%;
}

.homepage-quatre-title {
  font-size: 36px;
  font-family: muli;
  font-weight: bold;
  width: 50%;
  padding-left: 25%;
}

.homepage-quatre-undertitle {
  padding-top: 20px;
  width: 50%;
  padding-left: 25%;
  font-family: Muli;
  font-weight: normal;
  color: #0b1036;
  font-size: 18px;
}

.homepage-cinq {
  height: 100vh;
}

.homepage-all-cinq-content {
  display: flex;
}

.homepage-cinq-left {
  height: 100vh;
  width: 50%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.homepage-cinq-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 50%;
  background-color: #ffffff;
  flex-direction: column;
}

.homepage-cinq-right img {
  width: 80%;
}

.homepage-cinq-envoir img {
  padding-top: 0px;
  /* padding-left: 732px; */
}

.homepage-cinq-title {
  font-size: 36px;
  font-family: muli;
  font-weight: bold;
  width: 50%;
  padding-left: 25%;
}

.homepage-cinq-undertitle {
  padding-top: 20px;
  width: 50%;
  padding-left: 25%;
  font-family: Muli;
  font-weight: normal;
  color: #0b1036;
  font-size: 18px;
}
.homepage-cinq-right-underpic {
  color: #0b1036;
  width: 708px;
  text-align: center;
  width: 80%;
}

.homepage-six {
    height: 100vh;
    background-color: #0B1036;
    display: flex;
    color:white
  }

.homepage-all-six-content {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
.contact-form {
    width:30%;
    display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: space-around;
height: 48vh;
}
.inputs {
    display:flex;
    justify-content: space-between;
    width: 101%;
}
 .input1 {
    width: 65%;
    height:55px;
 }

.input2 {
    width: 25%;
    height:55px;
}

.textarea {
    width: 100%;
    height:30vh;
}

.button-envoyer {
    color:#FFFFFF;
    background:none;
    border:none;
    font-family:Muli;
    font-weight:bold;
    font-size:18px;
}

.homepage-six-text {
    width:50%;
}


/* animations */

.scale-in-tl {
	-webkit-animation: scale-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}

@keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}

.scale-out-tl {
	-webkit-animation: scale-out-tl 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-tl 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @-webkit-keyframes scale-out-tl {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    opacity: 1;
  }
}
@keyframes scale-out-tl {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    opacity: 1;
  }
}


.shake-vertical {
	-webkit-animation: shake-vertical 1.2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-vertical 1.2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

 @-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}


.flip-scale-up-ver {
	-webkit-animation: flip-scale-up-ver 0.5s linear both;
	        animation: flip-scale-up-ver 0.5s linear both;
}

 @-webkit-keyframes flip-scale-up-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(1.2) rotateY(180deg);
    transform: scale(1.2) rotateY(180deg);
  }
  100% {
    -webkit-transform: scale(1.5) rotateY(360deg);
            transform: scale(1.5) rotateY(360deg);
  }
  
}
@keyframes flip-scale-up-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(1.2) rotateY(90deg);
    transform: scale(1.2) rotateY(90deg);
  }
  100% {
    -webkit-transform: scale(1.5) rotateY(0deg);
            transform: scale(1.5) rotateY(0deg);
  }
 
}



@media screen and (max-width: 825px) {
  .homepage-deux, .homepage-trois, .homepage-quatre, .homepage-cinq{
    height:auto;
  }

  .homepage-all-deux-content, .homepage-all-trois-content, .homepage-all-quatre-content, .homepage-all-cinq-content{
    flex-direction:column;
  }

  .homepage-deux-left, .homepage-deux-right, .homepage-trois-left, .homepage-trois-right, .homepage-quatre-left, .homepage-quatre-right, .homepage-cinq-left, .homepage-cinq-right{
    width:100%;
  }
}